* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/portfolio-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}

#root {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.goldenCircle, .aboutMe, .contact, .projects {
  border: wheat groove 2px;
  border-radius: 20px;
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: .5rem;
  padding: 6px;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  position: fixed;
  margin-left: 180px;
  margin-top: 10px;
}

.goldenCircle>img, .aboutMe>img, .contact>img, .projects>img, .contact>a>img {
  width: 100%;
  border-radius: 15%;
}

.goldenCircle>p, .goldenCircle>h1, .whoAmI, .aboutMe>h1, .contact>h1 {
  font-size: .5rem;
  margin-top: 6px;
}

.goldenCircle>h1 {
  font-size: .6rem;
}

.contact>h1 {
  font-size: .8rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 70%;
  position: fixed;
  font-size: .7rem;
  margin-left: 82px;
}

.link-home, .link-projects, .link-about, .link-contact {
  text-shadow: 
    -.35px -.35px 0 #000,  
    .35px -.35px 0 #000,
    -.35px  .35px 0 #000,
    .35px  .35px 0 #000; 
}

.link-home {
  margin-left: 28px;
  margin-top: 23px;
  position: relative; 
  transform: rotate(345deg); 
  color: deeppink;
  font-weight: bold;
}

.link-projects {
  margin-left: -5px;
  margin-top: -7px;
  position: relative; 
  transform: rotate(358deg);
  color: rgb(47, 0, 255);
  font-weight: bold; 
}

.link-about {
  margin-left: 4px;
  margin-top: 13px;
  position: relative; 
  transform: rotate(355deg);
  color: rgb(203, 231, 0);
  font-weight: bold; 
}

.link-contact {
  margin-left: 1px;
  margin-bottom: 9px;
  position: relative; 
  transform: rotate(1deg);
  color: rgb(72, 255, 0);
  font-weight: bold; 
}

/* } */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  
  .goldenCircle, .aboutMe, .contact, .projects {
    margin-left: 900px;
    margin-top: 50px;
    border-radius: 50px;
    
  }
  
  .goldenCircle>img, .aboutMe>img, .contact>img, .projects>img, .contact>a>img {
    width: 300px;
  }
  
  .goldenCircle>p, .goldenCircle>h1, .whoAmI, .aboutMe>h1, .contact>h1 {
    font-size: 2.2rem;
  }
  
  .goldenCircle>h1 {
    
  }
  
  .aboutMe>p {
    font-size: 1.5rem;
  }

  .contact>h1 {
    
  }
  
  nav {
    
  }
  
  .link-home, .link-projects, .link-about, .link-contact {
    font-size: 2rem;
  }
  
  .link-home {
    margin-left: 550px;
    margin-top: 70px;
  }
  
  .link-projects {
    margin-left: 425px;
    /* margin-top: 10px; */
    margin-bottom: 30px;
  }
  
  .link-about {
    margin-left: 500px;
    margin-bottom: 20px;
  }
  
  .link-contact {
    margin-left: 450px;
    margin-bottom: 30px;
  }
  
}

/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {
  
  .goldenCircle, .aboutMe, .contact, .projects {
    margin-left: 1200px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 20px;
  }
  
  .aboutMe>img, .contact>img, .projects>img, .contact>a>img {
    width: 300px;
  }
  .goldenCircle>img {
    width: 560px;
  }
  
  .goldenCircle>p, .goldenCircle>h1, .whoAmI, .aboutMe>h1, .contact>h1 {
    font-size: 2rem;
  }
  
  .goldenCircle>h1 {
    
  }
  
  .aboutMe>p {
    font-size: 1.7rem;
  }

  .contact>h1 {
    
  }
  
  nav {
    
  }
  
  .link-home, .link-projects, .link-about, .link-contact {
    text-shadow: 
    -1.2px -1.2px 0 #000,  
    1.2px -1.2px 0 #000,
    -1.2px  1.2px 0 #000,
    1.2px  1.2px 0 #000; 
    font-size: 2rem;
  }
  
  .link-home {
    margin-left: 850px;
    margin-top: 70px;
  }
  
  .link-projects {
    margin-left: 725px;
    /* margin-top: 10px; */
    margin-bottom: 30px;
  }
  
  .link-about {
    margin-left: 800px;
    margin-bottom: 20px;
  }
  
  .link-contact {
    margin-left: 750px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1440px) {
    
  .goldenCircle, .aboutMe, .contact, .projects {
    margin-left: 1600px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 20px;
  }
  
  .aboutMe>img, .contact>img, .projects>img, .contact>a>img {
    width: 380px;
  }
  .goldenCircle>img {
    width: 560px;
  }
  
  .goldenCircle>p, .goldenCircle>h1, .whoAmI, .aboutMe>h1, .contact>h1 {
    font-size: 2rem;
  }
  
  .goldenCircle>h1 {
    
  }
  
  .aboutMe>p {
    font-size: 1.7rem;
  }

  .contact>h1 {
    
  }
  
  nav {
    
  }
  
  .link-home, .link-projects, .link-about, .link-contact {
    text-shadow: 
    -1.2px -1.2px 0 #000,  
    1.2px -1.2px 0 #000,
    -1.2px  1.2px 0 #000,
    1.2px  1.2px 0 #000; 
    font-size: 2.5rem;
  }
  
  .link-home {
    margin-left: 1150px;
    margin-top: -30px;
  }
  
  .link-projects {
    margin-left: 1025px;
    /* margin-top: 10px; */
    margin-bottom: 60px;
  }
  
  .link-about {
    margin-left: 1100px;
    margin-bottom: 20px;
  }
  
  .link-contact {
    margin-left: 1050px;
    margin-bottom: -10px;
  }
}
.sample {
  border: red solid 5px;
  border: orange solid 5px;
  border: yellow solid 5px;
  border: green solid 5px;
  border: blue solid 5px;
  border: indigo solid 5px;
  border: violet solid 5px;
  border: hotpink solid 5px;
  border: crimson solid 5px;
  border: fuchsia solid 5px;
  border: lightseagreen solid 5px;
  border: lawngreen solid 5px;
  border: seagreen solid 5px;
  border: aqua solid 5px;
  border: coral solid 5px;
  border: rgb(203, 231, 0) solid 5px;

}