/* * {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center; 
  align-items: start; 
  width: 100%;
  height: 100vh;
  background-image: url(./images/Splash.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

img {
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  border-top: 1px solid rgb(83, 244, 255);
  border-bottom: 1px solid rgb(243, 228, 160);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-container > a > img {
  width: 90%;
}

.content-container > h1, .content-container > h4, .content-container > p, .back-to-projects-link, .launchLink {
  margin: 10px;
  border-top: 1px solid rgb(83, 244, 255);
  border-bottom: 1px solid rgb(243, 228, 160);
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.content-container > h1 {
  font-size: 1.8rem;
}

.content-container > h4, .back-to-projects-link {
  font-size: 1.2rem;
}

.content-container > p {
  font-size: 1.2rem;
  text-align: left;
}

span {
  font-weight: bold;
  border-bottom: solid 1px white;
  font-size: 1.4rem;
}

.launchLink {
  font-size: 3rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-home, .nav-about, .nav-projects, .nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  
} */
/* 
@media screen and (min-width: 1024px) {
  #root {

  }
  .content-container {
    width: 80%;
    background-color: transparent;
    height: auto;
    overflow-y: auto;
  }

  .content-container > h1, .content-container > h4, .content-container > p, .back-to-projects-link {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content-container > h1 {
    font-size: 3rem;
  }

  .content-container > h4, .back-to-projects-link {
    font-size: 2rem;
  }
  
  .content-container > p {
    font-size: 1.8rem;
    text-align: left;
  }

  span {
    font-weight: bold;
    border-bottom: solid 1px white;
    font-size: 2rem;
  }

  .icon-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  img {
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    border-top: 1px solid rgb(83, 244, 255);
    border-bottom: 1px solid rgb(243, 228, 160);
  }

  .project-image {
    width: 90%;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 52vh; 
    left: 76vw; 
    width: 25vw;
    height: 25vh;
    background-color: transparent;
  }

  .nav-home, .nav-about, .nav-projects, .nav-contact {
    color:transparent;
  }

  .content-container::-webkit-scrollbar {
    display: none; 
  }
}

@media screen and (min-width: 1440px) {
  .nav-links {
    top: 51vh;
    left: 76vw;
  }

  .nav-home, .nav-about, .nav-projects, .nav-contact {
    height: 100%
  }

}

@media screen and (min-width: 1920px) {
  .nav-links {
    top: 52vh;
    left: 78vw;
    width: 15vw;
    height: 25vh;
  }
}

@media screen and (min-width: 2560px) {
  .nav-links {
    top: 52vh;
    left: 78vw;
    width: 12vw;
    height: 42vh;
  }
}

@media screen and (min-width: 2780px) {


  .nav-links {
    top: 52vh;
    left: 78vw;
    width: 10vw;
    height: 30vh;
  }
} */
* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center; 
  align-items: start; 
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/smokeSplash3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  background-position: start;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 150px;
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

img {
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  /* border-top: 1px solid rgb(83, 244, 255);
  border-bottom: 1px solid rgb(255, 255, 255); */
  border-top: 5px solid rgb(10, 227, 243);
  border-bottom: 5px solid rgb(238, 19, 191);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-container > a > img {
  width: 90%;
}

.content-container > h1, .content-container > h4, .content-container > p, .back-to-projects-link, .launchLink {
  margin: 10px;
  /* border-top: 1px solid rgb(83, 244, 255);
  border-bottom: 1px solid rgb(243, 228, 160); */
  border-top: 3px solid rgb(10, 227, 243);
  border-bottom: 3px solid rgb(238, 19, 191);
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

span {
  font-weight: bold;
  border-bottom: solid 1px white;
  font-size: 1.4rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 3px solid rgb(10, 227, 243);
  border-bottom: 3px solid rgb(238, 19, 191);
  border-radius: 10px;
}

.project-container p {
  width: 75%;
}

.project-container .details:hover, a:hover {
  color: white;
  text-shadow: 0 0 25px rgba(10, 227, 243, 0.9), 0 0 35px rgba(10, 227, 243, 0.9), 0 0 25px rgba(238, 19, 191, 0.9), 0 0 35px rgba(238, 19, 191, 0.9);
}
/* .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} */

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(to right, rgba(10, 227, 243, .9), rgba(238, 19, 191, .9)), url(./images/repeatCircuit.jpg);
  background-position: right;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; 
  border-bottom: deeppink 5px groove;
  font-weight: bold;
}

.nav-home, .nav-about, .nav-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.nav-home:hover, .nav-about:hover, .nav-projects:hover {
  /* background-color: rgba(255, 255, 255, 0.2); 
  color: black; */
  color: white;
  text-shadow: 0 0 25px rgba(10, 227, 243, 0.9), 0 0 35px rgba(10, 227, 243, 0.9), 0 0 25px rgba(238, 19, 191, 0.9), 0 0 35px rgba(238, 19, 191, 0.9);
  font-size: larger;
}

.footer {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(10, 227, 243, .9), rgba(238, 19, 191, .9)), url(./images/repeatCircuit.jpg);
  background-position: right;
  background-repeat: repeat;
  z-index: 1000;
  border-top: deeppink 5px groove;

}

.contact-footer img:hover {
  box-shadow: 0 0 5px rgba(10, 227, 243, 0.9), 0 0 15px rgba(10, 227, 243, 0.9), 0 0 25px rgba(238, 19, 191, 0.9), 0 0 35px rgba(238, 19, 191, 0.9);
  
}
/* .footer-title {
  width: 100%;
} */
.contact-footer {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;

}