/* * {
  color: white;
  margin:0;
  
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(./images/portfolio-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}
#root {
  display: flex;
  justify-content: flex-start; 
  align-items: start; 
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.goldenCircle {
  border: wheat groove 5px;
  border-radius: 20px;
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  padding: 30px;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  position: fixed;
  top: 80px; 
  left: 60px; 
}
.goldenCircle>p, .goldenCircle>h1, .goldenCircle>h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
  position: fixed;
  font-size: 2.8rem;
}

.link-home{
  margin-right: 15%;
  margin-bottom: ;
  position: relative; 
  transform: rotate(348deg); 
}
.link-projects{
  margin-right: 15%;
  margin-top: -5px;
  position: relative; 
  transform: rotate(358deg); 
}
.link-about{
  margin-right: 18%;
  margin-top: 10px;
  position: relative; 
  transform: rotate(345deg); 
}
.link-contact{
  margin-right: 18%;
  margin-top: 5%;
  position: relative; 
  transform: rotate(1deg); 
} */



/* Media queries for responsiveness */

/* Small devices (phones, 320px and up) */
@media (max-width: 320px) {
* {
  color: white;
  margin:0;
  
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(./images/portfolio-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}
.goldenCircle {
  border: wheat groove 2px;
  border-radius: 20px;
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: .5rem;
  padding: 6px;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  position:fixed;
  margin-left: 180px;
  margin-top: 10px;
}
.goldenCircle>img {
  width: 100%;
  border-radius: 15%;
}
.goldenCircle>p  {
  font-size: .5rem;
  margin-top: 6px;
}
.goldenCircle>h1 {
  font-size: .6rem;
  margin-top: 6px;
}
.whoAmI {
  font-size: .5rem;
  margin-top: 6px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  height: 70%;
  position: fixed;
  font-size: .7rem;
  margin-left:82px;
}

.link-home, .link-projects, .link-about, .link-contact {
  text-shadow: 
  -.35px -.35px 0 #000,  
  .35px -.35px 0 #000,
  -.35px  .35px 0 #000,
  .35px  .35px 0 #000; 
}

.link-home{
  margin-left: 28px;
  margin-top: 23px;
  position: relative; 
  transform: rotate(345deg); 
  color: deeppink;
  font-weight: bold;
  ;
}

.link-projects{
  margin-left: -5px;
  margin-top: -7px;
  position: relative; 
  transform: rotate(358deg);
  color: rgb(47, 0, 255);
  font-weight: bold; 
}
.link-about{
  margin-left: 4px;
  margin-top: 13px;
  position: relative; 
  transform: rotate(355deg);
  color: rgb(203, 231, 0);
  font-weight: bold; 
}
.link-contact{
  margin-left: 1px;
  margin-bottom: 9px;
  position: relative; 
  transform: rotate(1deg);
  color: rgb(72, 255, 0);
  font-weight: bold; 
}

.aboutMe {
  border: wheat groove 2px;
  border-radius: 20px;
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: .4rem;
  padding: 6px;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  position:fixed;
  margin-left: 180px;
  margin-top: 10px;

}
.aboutMe>img {
  width: 100%;
  border-radius: 15%;
}

.aboutMe>h1 {
  font-size: .5rem;
  margin-top: 3px;
}

.contact {
  border: wheat groove 2px;
  border-radius: 20px;
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: .5rem;
  padding: 6px;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  position:fixed;
  margin-left: 180px;
  margin-top: 10px;
}

.contact>img {
width: 100%;
border-radius: 15%;
position: relative;
}
.contact>h1 {
  font-size: .8rem;
  margin-top: 3px;
}
.contact>a>img {
  width: 100%;
  border-radius: 15%;
  position: relative;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  
}

/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {
  
}
.sample {
  border: red solid 5px;
  border: orange solid 5px;
  border: yellow solid 5px;
  border: green solid 5px;
  border: blue solid 5px;
  border: indigo solid 5px;
  border: violet solid 5px;
  border: hotpink solid 5px;
  border: crimson solid 5px;
  border: fuchsia solid 5px;
  border: lightseagreen solid 5px;
  border: lawngreen solid 5px;
  border: seagreen solid 5px;
  border: aqua solid 5px;
  border: coral solid 5px;
  border: rgb(203, 231, 0) solid 5px;

}